# Change these two values from the Sectigo API Management Console.
SCM_CLIENT_ID=<from sectigo admin>
SCM_CLIENT_SECRET=<from sectigo admin>

# should not have to change these values.
SECTIGO_ORG_ID=6377
SECTIGO_PRODUCT_CODE=4491
SECTIGO_TERM=199


# shouldn't need to change the following values
SCM_TOKEN_URL=https://auth.sso.sectigo.com/auth/realms/apiclients/protocol/openid-connect/token
SECTIGO_API_BASE=https://admin.enterprise.sectigo.com